body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo_img {
    width: 150px;
    height: 100px;
}

.dates {
    display: flex;
    flex-direction: column;
}

.header_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.islamic_date span {
    background-color: black;
    color: white;
    padding: 2px 5px;
    margin-top: 5px;
}

.prayer_timing a span {
    background-color: black;
    color: white;
    padding: 2px 5px;
}
.prayer_timing a{
    text-decoration: none;
}
.my_navbar{
    background-color: black;
    margin-top: 5px;
    position: sticky;
    top: 0;
}
.ul_div{
    display: flex;
    justify-content: center;
} 
.ul_div ul li{
    margin: 0px 15px !important;
}
.ul_div ul li a{
    color: white;
    text-decoration: none;  
}
.ul_div ul li a:hover{
    text-decoration: underline white 3px;
    color: white;

}
/* .navbar_toggler_icon{
    background-color: white;
    color: rgb(255, 255, 255);
}
.bar_icon{
    color: white;
} */
@media screen and(max-width:978px) {
    .ul_div{
        display: flex;
        justify-content: left;
        /* margin: auto;
        text-align: left; */
    }
    
}
.headlines_heading h2{
    font-weight: bold;
    margin-top: 6px;
    
}
