*{
font-family: Arial, Helvetica, sans-serif;
font-size: large;

}
.psl_img1{
    width: 100%;
    height: 290px;
}
.education1{
    width: 100%;
    height: 290px;
}
.edu_2{
    width: 100%;
    height: 400px;
}
.hackingcyber1{ height: 290px;}
.News8{
    width: 100%;
    height: 400px;
}
.heading_1 a{
    color: black;
}
