


.img4{
    width: 100%;
    height: 450px;
}
.psl_img{
    height: 290px;
}
.img_traffic{
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
}
.edu_1{
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}
.edu_2{
    width: 100%;

}
.education{
    height: 290px;
}
.police_img{
    height: 105px;
}
.police{
 height: 290px;
}
.ku{
    height: 290px;
}
.police_line{
    height: 290px;
}
.food_festival{
    height: 290px;
}
.heading_1 a{
    color: black;
}
.food_mainpg{
    width: 700px;
}
.children-in-schools{
    height:290px;
}